# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt

# Virtual environments
.venv/
venv/
ENV/

# PyCharm / VSCode
.idea/
.vscode/

# MacOS / Linux / Windows system files
.DS_Store
Thumbs.db
